.contactmain{
    padding-top: 5rem;
    min-height: 100vh ;
    height: fit-content;
    width: 100%;
    display: flex;
    margin-bottom: 3rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contact-container{
    display: flex;
    background-color: rgba(255, 255, 255, 0);
    height: 80%;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.contactleft{
    background-color: rgba(255, 121, 121, 0);
    height: 100%;
    width: 40%;
    
    margin-left: 50px;
}
.contact-inner-left{
    margin-top: 60px;
background-color: rgba(0, 255, 255, 0);
line-height: 30px;
}
.contact-heading{
    border-bottom: 4px solid #944fd8;
}
.contactright{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 60%;
}
.contact-form{
    margin-left: 220px;
    background-color: rgb(255, 255, 255);
    margin-top: 80px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 30rem;
    line-height: 50px;
    box-shadow: 2px 2px 15px #838383;
}
.contact-submit{
    margin-top: 20px;
    padding: 1rem 5rem;
    width: 40%;
    align-self: center;
    display: flex;
    align-items: center;
    font-size: 1rem;
    justify-content: center;
    background-color: #000;
    color: white;
}
.contact-submit:hover{
    background-color: white;
    color: #000;
}
.contact-heading{
    margin-top: 50px;
}
.contactbackground{
    width: 100%;
    margin-left: 50px;
}
.contact-form input , .contact-form textarea{
    outline: none;
    border: none;
    font-size: 1rem;
    background-color: #e4e4e4;
    padding: 20px;
}
@media screen and (max-width:768px) {
    .contactmain{
        width: 100%;
        flex-wrap: wrap;
   
    }
   .contact-container{
    display: flex;
    width: 90%;
    flex-direction: column;
   } 
   .contactleft{
    margin: 0;
    width: 100%;
   }
 
   .contact-inner-left{
    text-align: justify;
    align-items: center;
    justify-content: center;
   }
   .contactright{
    width: 100%;
   }
   .contact-form{
    width: 100%;
    margin: 0;
    margin-top: 3rem;
   }
   
}